<!DOCTYPE html>
<html>
    <head>
        <title>Web application</title>
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyCtfkCcjL5cvhCb8cdncY95T4qLicNOYMU"></script>
        <script src="../node_modules/gmaps/gmaps.js"></script>
        <!--<script src="https://github.com/Wirecloud/wirecloud/tree/0.9.x/docs/widgetapi"></script>-->
    </head>
    <body>
    <iframe src="https://mashup.lab.fiware.org/nicolas-fuchs/simtraf?mode=embedded&theme=wirecloud.fiwarelabdarktheme" style="width: 100%; height: 450px; border: 0px none;" frameborder="0" allowfullscreen></iframe>
        <h1 style="text-align: center">SimTraf visualisation</h1>
        <div style="margin: 0 auto; text-align: center; margin-bottom: 30px">
            <label>Location</label>
            <input type="text" id="loc" value="Porsel">
            <input type="submit" id="sub" value="show map">
        </div>
        <div id="map" style="width:750px; height:750px; margin: 0 auto"></div>
        <script>

            /*alert(MashupPlatform.context.get("username"));

            MashupPlatform.mashup.createWorkspace({
                name: 'WorkTest',
                onSuccess: function (workspace) {
                    alert(workspace.owner + "/" + workspace.name + " created successfully");
                }
            });

            let widget = MashupPlatform.mashup.addWidget('CoNWeT/map-viewer/2.5.8', {
                "permissions": {
                    "close": false,
                    "configure": false
                },
                "preferences": {
                    "stand-alone": {
                        "value": false
                    }
                },
                "top": "0px",
                "left": "66%"
            });

            let operator = MashupPlatform.mashup.addOperator('CoNWeT/ngsientity2poi/3.0.3', {
                "preferences": {
                    "coordinates_attr": {
                        "value": "current_position"
                    }
                }
            });*/

            $(document).ready(function(){
                $('#sub').one('click', function() {
                    GMaps.geocode({
                        address: $('#loc').val(),
                        callback: function(results, status) {
                            if (status === 'OK') {
                                let latlng = results[0].geometry.location;
                                let map = new GMaps({
                                    div: '#map',
                                    lat: latlng.lat(),
                                    lng: latlng.lng(),
                                    draggable: true,
                                    scrollwheel: true
                                });
                                let points;
                                google.maps.event.addListenerOnce(map.map, "tilesloaded", function(){
                                    $.get("http://localhost:3000/loca", {
                                        NE_lat: map.map.getBounds().getNorthEast().lat(),
                                        NE_lng: map.map.getBounds().getNorthEast().lng(),
                                        SW_lat: map.map.getBounds().getSouthWest().lat(),
                                        SW_lng: map.map.getBounds().getSouthWest().lng()},  function(data) {
                                        points = JSON.parse(data);
                                        // Loop used for json returned by google Maps (10000 points)
                                        for (let i = 0; i < points.allSnappedPoints.length; i++) {
                                            for (let j = 0; j < points.allSnappedPoints[i].snappedPoints.length; j++) {
                                                let point = points.allSnappedPoints[i].snappedPoints[j];
                                                map.addMarker({
                                                    lat: point.location.latitude,
                                                    lng: point.location.longitude,
                                                    icon: '../public/images/point_green.png'
                                                });
                                            }
                                        }
                                    });
                                });
                                $('#sub').click(function() {
                                    GMaps.geocode({
                                        address: $('#loc').val(),
                                        callback: function(results, status) {
                                            if (status === 'OK') {
                                                latlng = results[0].geometry.location;
                                                map.setCenter(latlng.lat(), latlng.lng());
                                            }
                                        }
                                    });
                                    $.get("http://localhost:3000/loca", {   NE_lat: map.map.getBounds().getNorthEast().lat(),
                                                                            NE_lng: map.map.getBounds().getNorthEast().lng(),
                                                                            SW_lat: map.map.getBounds().getSouthWest().lat(),
                                                                            SW_lng: map.map.getBounds().getSouthWest().lng()},  function(data) {
                                        points = JSON.parse(data);
                                        // Loop used for json returned by google Maps (10000 points)
                                        for (let i = 0; i < points.allSnappedPoints.length; i++) {
                                            for (let j = 0; j < points.allSnappedPoints[i].snappedPoints.length; j++) {
                                                let point = points.allSnappedPoints[i].snappedPoints[j];
                                                let marker = map.addMarker({
                                                    lat: point.location.latitude,
                                                    lng: point.location.longitude,
                                                    icon: '../public/images/point_green.png'
                                                });
                                            }
                                        }
                                    });
                                });
                                $(document).keypress(function(e) {
                                    if(e.which === 13) {
                                        $('#sub').click();
                                    }
                                });
                                google.maps.event.addListener(map.map, "zoom_changed", function() {
                                    map.setOptions({zoomControl: false});
                                    $.get("http://localhost:3000/zoom", {   NE_lat: map.map.getBounds().getNorthEast().lat(),
                                                                            NE_lng: map.map.getBounds().getNorthEast().lng(),
                                                                            SW_lat: map.map.getBounds().getSouthWest().lat(),
                                                                            SW_lng: map.map.getBounds().getSouthWest().lng()},  function (data) {
                                        points = JSON.parse(data);
                                        // Loop used for json returned by google Maps (10000 points)
                                        for (let i = 0; i < points.allSnappedPoints.length; i++) {
                                            for (let j = 0; j < points.allSnappedPoints[i].snappedPoints.length; j++) {
                                                let point = points.allSnappedPoints[i].snappedPoints[j];
                                                map.addMarker({
                                                    lat: point.location.latitude,
                                                    lng: point.location.longitude,
                                                    icon: '../public/images/point_red.png'
                                                });
                                            }
                                        }
                                        map.setOptions({zoomControl: true});
                                    });
                                });
                                google.maps.event.addListener(map.map, "dragend", function() {
                                    map.setOptions({draggable: false});
                                    $.get("http://localhost:3000/drag", {   NE_lat: map.map.getBounds().getNorthEast().lat(),
                                                                            NE_lng: map.map.getBounds().getNorthEast().lng(),
                                                                            SW_lat: map.map.getBounds().getSouthWest().lat(),
                                                                            SW_lng: map.map.getBounds().getSouthWest().lng()},  function(data) {
                                        points = JSON.parse(data);
                                        // Loop used for json returned by google Maps (10000 points)
                                        for (let i = 0; i < points.allSnappedPoints.length; i++) {
                                            for (let j = 0; j < points.allSnappedPoints[i].snappedPoints.length; j++) {
                                                let point = points.allSnappedPoints[i].snappedPoints[j];
                                                map.addMarker({
                                                    lat: point.location.latitude,
                                                    lng: point.location.longitude,
                                                    icon: '../public/images/point_blue.png'
                                                });
                                            }
                                        }
                                        // Loop used for json returned by OpenStreetMap
                                        /*for (let i = 0; i < latlng.elements.length; i++) {
                                            map.addMarker({
                                                lat: latlng.elements[i].lat,
                                                lng: latlng.elements[i].lon,
                                                icon: '../public/images/point_green.png'
                                            });
                                        }*/
                                        map.setOptions({draggable: true});
                                    });
                                });
                            } else {
                                alert("Sorry, the geocoder has not found the entered address !");
                            }
                        }
                    })
                });
            });
        </script>
    </body>
</html>
